<div class="col-md-8 col-12 offset-md-2 mt-3 bottom-width">
  <div class="user-box mt-5">
    <h2 class='text-center'>設定</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="form-group">
        <%= f.label :nick_name, "ニックネーム" %>
        <%= f.text_field :nick_name, autofocus: true, class: "form-control" %>
      </div>


      <%= image_tag current_user.avatar_image.thumb.url %>
      <div class="form-group">
        <%= f.label :avatar_image, "プロフィール画像" %>
        <%= f.file_field :avatar_image, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="form-group">
        <%= f.label :password, "パスワード(6文字以上)" %> <span>(変更しない場合は空白のままにします)</span>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
        <% end %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    
      <div class="form-group text-center">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>
    <p>
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか？" }, method: :delete, class: "text-danger" %>
      <br>
      <%= button_to 'ログアウトする', destroy_user_session_path, data: { confirm: "ログアウトしますか？" }, method: :delete, class: 'text-danger' %>
    </p>
  <div>
<div>

<%= render "shared/menu" %>