<h5 class="col-12 text-center mt-3">友だちをさがす</h5>
<%= search_form_for @search do |f| %>
  <div class="form-row">
    <div class="form-group pl-3 pt-3">
      <%= f.search_field :nick_name_or_email_cont, placeholder: "名前、メールアドレス", class: "form-control"%>
    </div>
    <div class="form-group pl-3 pt-3">
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div>
  <% if @check.present? %>
    <% @result.each do |result| %>
      <% if result.id != current_user.id %>      
        <div class="d-inline-flex p-2 bd-highlight col-12 border">
          <p><%= image_tag result.avatar_image.thumb.url,:size =>'50x50' %></p>
          <p class="pl-3 col-4 d-block"><%= link_to "#{result.nick_name.truncate(8)}", "/other_user_show/#{result.id}", :style=>"color:black;" %></p>
          <div class="d-flex flex-row justify-content-end">
          <%# ----- フォローフォーム ----- %>
          <% if current_user != result %>
            <div id="follow_form">
              <% if current_user.following?(result) %>
                <%= render "unfollow", user: result %>
              <% else %>
                <%= render "follow", user: result %>
              <% end %>
            </div>
          <% end %>
          <%# -------------------------- %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

