<% if @user == current_user %>
  <span class= "text-center border pt-2 col-4 ">
    届いた写真
    <p class="text-center">0</p>
    <p class="text-center">件</p>
  </span>
  <span class= "text-center border pt-2 col-4">
    フォロー
    <p class="text-center" id="following"><%= link_to "#{current_user.following.count}", following_user_path(current_user), :style=>"color:black;" %></p>
    <p class="text-center">件</p>
  </span>
  <span class= "text-center border pt-2 col-4">
    フォロワー
    <p class="text-center" id="followers"><%= link_to "#{current_user.followers.count}", followers_user_path(current_user), :style=>"color:black;" %></p>
    <p class="text-center">件</p>
  </span>
  <div class="col-12 text-center pt-5">
    <h5>まだ届いた写真がありません。</h5>
    <h5>さっそく友達と写真を交換しよう！</h5>
    <h5><%= link_to "友達をさがす", users_path %></h5>
  </div>
<% else %>
  <h1><%= @user.nick_name %>さんのページ</h1>
  <p>写真を送信する</p>
  <%# ----------メッセージフォーム--------- %>
  <% if @is_room == true %>
    <p class="btn btn-info m-3"><a href="/rooms/<%= @room_id %>">送る</a></p>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "送る", class: "btn btn-info m-3" %>
    <% end %>
  <% end %>
  <%# ------------------------------------ %>
<% end %>


