<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% unless current_user %>
    <span class="navbar-brand">サービス名</span>
  <% else %>
  <span class="navbar-brand d-block text-truncate">
    <%= image_tag current_user.avatar_image.thumb.url %>
    <%= link_to "#{current_user.nick_name}", user_path(current_user), :style=>"color:black;" %>
  </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <%= link_to 'フォトルーム', rooms_path, class: 'nav-item nav-link active' %>
          <%= link_to '友だちをさがす', users_path, class: 'nav-item nav-link active' %>
          <%= link_to '通知', notifications_path, class: 'nav-item nav-link active' %>
          <%= link_to '設定', edit_user_registration_path(current_user), class: 'nav-item nav-link active' %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { confirm: "ログアウトしますか？" }, method: :delete, class: 'nav-item nav-link active' %>
      </div>
    </div>
  <% end %>
</nav>


