<%# ----------メッセージ画面----------%>
<h1>dm</h1>
<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <%= image_tag m.image.to_s, size: '250x250' %>
    <small>by <strong><%= m.user.email %>さん</strong></small>
    <hr>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_for @message do |f| %>
  <%= f.file_field :image %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>
<%# ------------------------------ %>