<div class="w-100 mb-3 bg-light border">
  <p class="h-30 text-center my-3">
    <strong>
      <%= current_user.nick_name %>さんと
      <% @room.entries.each do |e| %>
        <% unless e.user == current_user %>
          <%= e.user.nick_name %>さんのフォトルーム
        <% end %>
      <% end %>
    </strong>
  </p>
</div>

<% if @messages.present? %>
  <% @messages.each do |m| %>
    <%# メッセージを送信したのが自分 %>
    <% if m.user.id == current_user.id %>
      <%# メッセージに返信が無し %>
      <% if m.comments.empty? %>
        <div class="col-12 text-right">
          <%=  link_to m.image.to_s, 'data-lightbox': m.image do %>
            <%= image_tag m.image.to_s, width: "200", height: "auto" %>
          <% end %>
        </div>
        <div class="ml-3 text-right w-100 mr-3"><small>返信がついていません</small><p><strong><%= m.user.nick_name %></strong><%= image_tag m.user.avatar_image.to_s, size: "30x30", class: "ml-2" %></p></div>
        <span class="border-bottom col-12 mb-3"></span>
      <%# メッセージに返信が有り %>
      <% else %>
        <div class="col-12 text-right">
          <%=  link_to m.image.to_s, 'data-lightbox': m.image do %>
            <%= image_tag m.image.to_s, width: "200", height: "auto" %>
          <% end %>
        </div>
        <div class="ml-3 text-right w-100 mr-3"><p><strong><%= m.user.nick_name %></strong><%= image_tag m.user.avatar_image.to_s, size: "30x30", class: "ml-2" %></p></div>
        <% m.comments.each do |c| %>
          <div>
            <%=  link_to c.image.to_s, 'data-lightbox': c.image do %>
              <%= image_tag c.image.to_s, width: "200", height: "auto" %>
            <% end %>
            <div class="ml-3"><p><%= image_tag c.user.avatar_image.to_s, size: "30x30", class: "mr-2" %><strong><%= c.user.nick_name %></strong></p></div>
          </div>
        <% end %>
        <span class="border-bottom col-12 mb-3"></span>
      <% end %>
    <%# メッセージを送信したのが他のユーザー %>
    <% else %>
      <%# メッセージに返信が無し%>
      <% if m.comments.empty? %>
        <div class="col-12"><%= image_tag "mosaic.png", width: "200", height: "auto" %></div>
        <small class="col-12">写真が届きました！返信しましょう！</small>
        <div class="ml-3"><p><%= image_tag m.user.avatar_image.to_s, size: "30x30", class: "mr-2" %><strong><%= m.user.nick_name %></strong></p></div>
        <div class="m-3">
          <%= form_for [m, @comment] do |f| %>
            <%= f.file_field :image, class: "btn btn-light" %>
            <%= f.hidden_field :message_id, :value => m.id %>
            <br>
            <%= f.submit "返信する", class: "btn btn-info text-white" %></button>
          <% end %>
        </div>
        <span class="border-bottom col-12 mb-3"></span>
      <%# メッセージに返信が有り %>
      <% else %>
        <div class="col-12">
          <%=  link_to m.image.to_s, 'data-lightbox': m.image do %>
            <%= image_tag m.image.to_s, width: "200", height: "auto" %>
          <% end %>
        </div>
        <div class="ml-3"><p><%= image_tag m.user.avatar_image.to_s, size: "30x30", class: "mr-2" %><strong><%= m.user.nick_name %></strong></p></div>
        <% m.comments.each do |c| %>
          <div class="col-12 text-right">
            <%=  link_to c.image.to_s, 'data-lightbox': c.image do %>
              <%= image_tag c.image.to_s, width: "200", height: "auto" %>
            <% end %>
            <p><strong><%= c.user.nick_name %></strong><%= image_tag c.user.avatar_image.to_s, size: "30x30", class: "ml-2" %></p>
          </div>
        <% end %>
        <%# <p class="text-center col-12 bg-success"><strong>写真が交換されました</strong></p> %>
        <span class="border-bottom col-12 mb-3"></span>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="col-12 text-center">
    <strong>やりとりはまだありません</strong> 
  </div>
<% end %>

<div class="fixed-bottom col-12 bg-light py-3">
  <%= form_for @message do |f| %>
    <%= f.file_field :image, class: "btn btn-light" %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "送信する", class: "btn btn-primary text-white" %></button>
  </div>
<% end %>